from ayon_core.addon import AYONAddon

from .version import __version__



class {{ addon_class_name }}(AYONAddon):
    @property
    def name(self):
        return "{{ addon_name }}"

    @property
    def version(self):
        return __version__

    def initialize(self, settings):
        return super().initialize(settings)
